name: Deploy to VPS - Ubuntu

on:
  push:
    branches:
      - master 

jobs:
  deploy:
    runs-on: ubuntu-latest 

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          # --- SECRETOS DEL SERVIDOR (Configurados en GitHub Repository Secrets) ---
          host: ${{ secrets.VPS_HOST }}       # IP de tu servidor
          username: ${{ secrets.VPS_USER }}   # Usuario SSH
          key: ${{ secrets.VPS_KEY }}         # Clave privada SSH
          # -------------------------------------------------------------
          script: |
            # 1. Ruta de frontend
            APP_DIR=/hombe/vboxuser/f1t-dock/f1-telemetry
            DOCKER_NAME=nextjs_f1-telemetry 

            # 2. Navegar al directorio
            echo "Navegando a $APP_DIR y actualizando c칩digo (rama master)..."
            cd $APP_DIR
            
            # 3. Obtener la versi칩n m치s reciente del c칩digo
            git pull origin master
            
            # 4. Construir la imagen y reiniciar el contenedor del frontend
            # Vamos a /f1t-dock
            cd ..
            # Construimos el contenedor del frontend
            docker compose up -d --build $DOCKER_NAME
            
            echo "Despliegue con Docker Compose completado."
