name: Deploy to VPS - Ubuntu

on:
  push:
    branches:
      - master 

jobs:
  deploy:
    runs-on: ubuntu-latest 

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}       
          username: ${{ secrets.VPS_USER }}   
          key: ${{ secrets.VPS_KEY }}         
          script: |
            # 1. Ruta de frontend
            APP_DIR=/home/vboxuser/f1t-dock/f1-telemetry
            DOCKER_IMAGE=web-service 

            # 2. Navegar al directorio
            cd $APP_DIR
            
            # 3. Obtener la versión más reciente del código
            git pull origin master
            
            # 4. Construir la imagen y reiniciar el contenedor del frontend
            # Vamos a /f1t-dock
            cd ..
            # Construimos el contenedor del frontend
            docker compose up -d --build $DOCKER_IMAGE
            
            echo "Despliegue con Docker Compose completado."
